* text=auto eol=lf

# keep Windows endings only for Windows scripts
*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

# binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
